<!DOCTYPE html>
<html lang="ca">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Llista de la compra</title>
</head>

<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
  <h1>Llista de la compra</h1>
  <h2>Inserir</h2>
  <form method="POST" action="/insert">
    <label>Producte: <input type="text" name="producte" /></label>
    <br />
    <label>Quantitat: <input type="number" name="quantitat" /></label>
    <br />
    <input type="submit" value="Inserir" />
  </form>
</body>

</html>